<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <img src="assets\Rectangle 29 (1).png" />
    <ul>
      <li routerLink="/brand-main"><i class="fa fa-home"></i> Home</li>
      <li class="active"><i class="fa fa-shopping-cart"></i> Sales</li>
      <li><i class="fa fa-comment"></i> Chat</li>
      <li><i class="fa fa-user" routerLink="brand-profile"></i> Profile</li>
      <li><a> My Products</a></li>
      <li><a> Orders</a></li>
      <li><a> Subscriptionss</a></li>
      <li><a> Team Work</a></li>
      <li routerLink="/create-promocode"><a> Promocode</a></li>
      <li class="logout"><i class="fa fa-sign-out"></i> Logout</li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header">
      <h3>Welcome Here 👋</h3>
      <div class="user-profile">
        <img src="assets/user-avatar.jpg" alt="Brand" />
        <span>Brand Name</span>
      </div>
    </div>
    <div class="sales-container">
      <h2>Sales</h2>

      <div class="stats">
        <div class="card">
          <div class="icon">📊</div>
          <div>
            <p>Total Number of Products Sold</p>
            <h3>{{ totalProductsSold }}</h3>
          </div>
        </div>

        <input
          type="text"
          placeholder="Search by customer name"
          [(ngModel)]="searchQuery"
        />

        <input type="month" [(ngModel)]="selectedMonth" />
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Month</th>
            <th>Products Purchased</th>
            <th>Total Sales</th>
            <th>Total Profit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of pagedData">
            <td>{{ sale.name }}</td>
            <td>{{ sale.month }}</td>
            <td>{{ sale.purchased }}</td>
            <td>{{ sale.sales }}</td>
            <td>{{ sale.profit }} L.E</td>
            <td>
              <button class="report-btn" (click)="goToReport(sale)">
                📈 Report
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          &lt;
        </button>

        <button
          *ngFor="let page of totalPagesArray"
          [class.active]="page === currentPage"
          (click)="goToPage(page)"
        >
          {{ page }}
        </button>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          &gt;
        </button>
      </div>
    </div>
  </div>
</div>
